html {
  font-size: 62.5%;
  color: #222;
}
@media (max-width: 55.5rem) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 45.75rem) {
  html {
    font-size: 56.5%;
  }
}

body {
  font-family: var(--font-texts);
}

*, :before, :after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-big-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
}

.title-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
}

.title-big-white {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
}

.title-medium {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
}

.title-medium-less {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.title-medium-less-less {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.text-medium-more {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  letter-spacing: -0.4px;
}

.text-medium-less {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.text-medium {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.xl-margin-bottom {
  margin-bottom: 9rem;
}

.u-margin-bottom {
  margin-bottom: 6rem;
}

.l-margin-bottom {
  margin-bottom: 4rem;
}

.s-margin-bottom {
  margin-bottom: 2rem;
}

.u-size {
  font-size: 2.4rem;
}

.l-size {
  font-size: 2rem;
}

.m-size {
  font-size: 1.6rem;
}

.s-size {
  font-size: 1.2rem;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes check {
  from {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.3rem auto 4.3rem;
  color: #ffffff;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: -o-linear-gradient(bottom right, #9356DC, #FF79DA);
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  width: 20rem;
  height: 5rem;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.btn:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
.btn a {
  text-decoration: none;
  color: white;
}

.loader-container {
  position: fixed;
  z-index: 300;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #99E2D0;
  animation: fade 2s linear 0.1s forwards;
}

.spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}

.spinner-container .spinner {
  font-size: 2em;
}

.spinner-container .spinner__leter {
  font-weight: light;
  position: relative;
  color: rgba(188, 188, 188, 0.25);
  text-transform: uppercase;
}

.spinner-container .spinner__leter:before {
  content: attr(letter);
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  animation: load-animation 2.8s infinite;
  animation-fill-mode: backwards;
  text-transform: uppercase;
}

.spinner-container .spinner__leter:nth-child(2):before {
  animation-delay: 0.4s;
}

.spinner-container .spinner__leter:nth-child(3):before {
  animation-delay: 0.8s;
}

.spinner-container .spinner__leter:nth-child(4):before {
  animation-delay: 1.2s;
}

.spinner-container .spinner__leter:nth-child(5):before {
  animation-delay: 1.6s;
}

.spinner-container .spinner__leter:nth-child(6):before {
  animation-delay: 2s;
}

.spinner-container .spinner__leter:nth-child(7):before {
  animation-delay: 2.4s;
}

.spinner-container .spinner__leter:nth-child(8):before {
  animation-delay: 2.8s;
}

.spinner-container .spinner__leter:nth-child(9):before {
  animation-delay: 3.2s;
}

.spinner-container .spinner__leter:nth-child(10):before {
  animation-delay: 3.6s;
}

@keyframes load-animation {
  0%, 80%, to {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  20%, 50% {
    transform: rotateY(0);
    opacity: 1;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 20rem;
  width: 100%;
  background-color: #231F20;
  padding: 2rem;
}
.footer-title {
  font-weight: bolder;
  color: white;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-nav :not(:last-child) {
  margin-bottom: 0.7rem;
}
.footer-nav a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
.footer-nav i {
  margin-right: 0.3rem;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: white;
  box-shadow: 10px 6px 15px -8px #000000;
}
.header-container {
  position: relative;
  padding: 4.5rem;
}
.header a {
  color: inherit;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 3.5%;
}
@media (max-width: 50rem) {
  .header a {
    left: 6%;
  }
}

.main-container {
  max-width: 90rem;
  margin: 0 auto;
}
.main-container-hero {
  width: 100%;
  max-height: 48rem;
  object-fit: cover;
}
.main-container .section-menu {
  position: relative;
  width: 100%;
  background-color: white;
  display: inline-block;
}
.main-container .section-menu-title {
  position: absolute;
  top: -8rem;
  width: 100%;
  border-radius: 7rem 7rem 0 0;
  background-color: white;
  padding: 3rem;
  transition: all 0.3s;
}
.main-container .section-menu-title a {
  display: inline-block;
}
.main-container .section-menu-title a .fa-solid {
  opacity: 0;
}
.main-container .section-menu-title a .fa-solid:hover, .main-container .section-menu-title a .fa-solid:active {
  opacity: 1;
  color: #FF79DA;
}
.main-container .section-menu-title a i {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: scale(1.3);
}
@media (max-width: 34.375rem) {
  .main-container .section-menu-title a i {
    top: 40%;
    left: 84%;
  }
}
.main-container .section-menu-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: white;
  gap: 2rem;
  margin: 0 auto;
}
.main-container .section-menu-article h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.main-container .section-menu-article h2:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 5rem;
  height: 0.4rem;
  background-color: #99E2D0;
  border-radius: 0.2rem;
}
.main-container .section-menu-article-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  gap: 1.5rem;
}
.main-container .section-menu-article-container-choice {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 7px 3px 15px -8px #000000;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}
.main-container .section-menu-article-container-choice input[type=radio] {
  opacity: 0;
  position: absolute;
}
.main-container .section-menu-article-container-choice input[type=radio]:checked ~ .section-menu-article-container-choice-check {
  margin-right: 0;
}
.main-container .section-menu-article-container-choice input[type=radio]:checked ~ .section-menu-article-container-choice-check i {
  animation: check 1s ease-in-out;
}
.main-container .section-menu-article-container-choice input[type=radio]:checked ~ .section-menu-article-container-choice-check .section-menu-article-container-choice {
  transform: scale(1.1);
}
.main-container .section-menu-article-container-choice-text {
  padding-left: 1rem;
}
.main-container .section-menu-article-container-choice-text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-container .section-menu-article-container-choice-text p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-container .section-menu-article-container-choice-price {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  float: right;
  margin-left: 43rem;
}
@media (max-width: 55.5rem) {
  .main-container .section-menu-article-container-choice-price {
    margin-left: 35rem;
  }
}
@media (max-width: 46.5rem) {
  .main-container .section-menu-article-container-choice-price {
    margin-left: 33rem;
  }
}
@media (max-width: 45.75rem) {
  .main-container .section-menu-article-container-choice-price {
    margin-left: 30rem;
  }
}
.main-container .section-menu-article-container-choice-check {
  height: 7.4rem;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  margin-right: -9rem;
  transition: all 0.5s;
}
.main-container .section-menu-article-container-choice-check .fa-circle-check {
  transition: all 0.5s;
  color: #F8F5F1;
}

.section-localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #F8F5F1;
  height: 5rem;
}
.section-localisation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-localisation-container svg {
  width: 1.5rem;
  height: 2rem;
}
.section-localisation-container p {
  margin-left: 2rem;
}
.section-localisation-container .paris {
  font-weight: 500;
  padding: 1rem 0;
}

.section-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
}
.section-reservation-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  width: 94rem;
}
@media (max-width: 774px) {
  .section-reservation-container {
    gap: 3rem;
  }
}
.section-reservation-menu {
  text-align: center;
}
.section-reservation-menu-title {
  margin-bottom: 2rem;
}
.section-reservation-menu p {
  margin-bottom: 3rem;
}
.section-reservation-menu-btn {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 12px 20px 0px -20px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 12px 20px 0px -20px rgba(0, 0, 0, 0);
}
.section-reservation-menu-btn {
  text-decoration: none;
  color: #FFF;
  background-color: #FF79DA;
  padding: 1.3rem;
  border-radius: 5rem 5rem;
  font-weight: 600;
  margin-top: 3rem;
}
.section-reservation-fonc h2 {
  text-align: center;
  padding: 2rem;
}
@media (max-width: 57.125rem) {
  .section-reservation-fonc h2 {
    text-align: start;
    margin-left: 2.5rem;
  }
}
.section-reservation-fonc-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -3rem;
}
@media (max-width: 57.125rem) {
  .section-reservation-fonc-container {
    text-align: start;
    gap: 3rem;
    width: 100%;
    margin-left: 0;
  }
}
.section-reservation-fonc-container-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  width: 33%;
  cursor: pointer;
}
.section-reservation-fonc-container-btn:nth-child(2):hover:before {
  left: 13%;
  width: 27rem;
}
.section-reservation-fonc-container-btn:hover {
  transform: scale(1.09);
}
.section-reservation-fonc-container-btn:hover i {
  font-weight: 600;
  color: #9356DC;
}
.section-reservation-fonc-container-btn:hover:before {
  font-weight: 600;
  background-color: #FF79DA;
  opacity: 0.5;
}
@media (max-width: 57.125rem) {
  .section-reservation-fonc-container-btn {
    justify-content: start;
    gap: 3rem;
    width: 100%;
    margin-left: 0;
  }
}
.section-reservation-fonc-container-btn p {
  font-weight: 600;
}
.section-reservation-fonc-container-btn:before {
  content: "";
  position: absolute;
  width: 28rem;
  height: 5rem;
  z-index: -2;
  left: 10%;
  box-shadow: 10px 6px 15px -8px #000000;
  border-radius: 2rem;
}
@media (max-width: 57.125rem) {
  .section-reservation-fonc-container-btn:before {
    left: 2%;
    width: 98%;
  }
}
.section-reservation-fonc-container-btn:nth-child(2) {
  margin-right: 0.9rem;
}
.section-reservation-fonc-container-btn:not(:last-child) {
  margin: 0 0.22rem;
}
.section-reservation-fonc-container-btn-num {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 2rem;
  height: 2.3rem;
  font-weight: 500;
  border-radius: 100%;
  background-color: #9356DC;
  margin-right: 0.5rem;
}
.section-reservation-fonc-container-btn .fa-mobile-screen-button {
  color: grey;
  font-size: 1.5rem;
}
.section-reservation-fonc-container-btn .fa-list-ul {
  color: grey;
}
.section-reservation-fonc-container-btn .fa-store {
  color: grey;
}

.section-restaurants {
  height: auto;
}
.section-restaurants h2 {
  text-align: left;
  margin-top: 4rem;
  margin-left: 6.5rem;
}
.section-restaurants-container {
  padding: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 37.5rem) {
  .section-restaurants-container {
    padding: 1.3rem;
  }
}
.section-restaurants-container-one:nth-child(1) .section-restaurants-container-one-img {
  background-image: url("../../../public/img/restaurants/la-palette-de-gout.jpg");
}
.section-restaurants-container-one:nth-child(2) .section-restaurants-container-one-img {
  background-image: url("../../../public/img/restaurants/la-note-enchante.jpg");
}
.section-restaurants-container-one:nth-child(3) .section-restaurants-container-one-img {
  background-image: url("../../../public/img/restaurants/la-francaise.jpg");
}
.section-restaurants-container-one:nth-child(4) .section-restaurants-container-one-img {
  background-image: url("../../../public/img/restaurants/les-delices-du-sens.jpg");
}
.section-restaurants-container-one {
  width: 24%;
  border-radius: 2rem;
  box-shadow: 5px 13px 32px -19px #000000;
  overflow: hidden;
  cursor: pointer;
}
.section-restaurants-container-one:nth-child(1) .section-restaurants-container-one-img:before, .section-restaurants-container-one:nth-child(2) .section-restaurants-container-one-img:before {
  content: "Nouveau";
  position: absolute;
  top: 10%;
  left: 73%;
  width: 8rem;
  height: 3.5rem;
  color: #171213;
  background-color: #99E2D0;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  border-radius: 1rem;
  font-weight: 400;
}
@media (max-width: 102rem) {
  .section-restaurants-container-one {
    width: 49%;
  }
}
@media (max-width: 68.375rem) {
  .section-restaurants-container-one {
    width: 100%;
  }
}
.section-restaurants-container-one:hover {
  box-shadow: 8px 5px 13px -5px #000000;
}
.section-restaurants-container-one-img {
  min-width: 45rem;
  height: 25rem;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media (max-width: 36rem) {
  .section-restaurants-container-one-img {
    min-width: auto;
  }
}
.section-restaurants-container-one-text {
  position: relative;
  padding: 2rem 1.5rem;
}
.section-restaurants-container-one-text a {
  display: inline-block;
}
.section-restaurants-container-one-text a .fa-solid {
  opacity: 0;
}
.section-restaurants-container-one-text a .fa-solid:hover {
  opacity: 1;
  color: #FF79DA;
}
.section-restaurants-container-one-text a i {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 90%;
}
@media (max-width: 34.375rem) {
  .section-restaurants-container-one-text a i {
    top: 40%;
    left: 84%;
  }
}

/*# sourceMappingURL=style.css.map */
