header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: white;
    box-shadow: 1px 3px 15px -7px #000000;


    &-container {
        position: relative;
        padding: 4.5rem;
        img {
        }

    }

    a {
        color: inherit;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 3.5%;
        
        @media (max-width: 50rem) {
            left: 6%;
            
        }
    }
}