.localisation {
  @include flex;
  margin: 0 auto;
  background-color: #eaeaea;
  height: 5rem;

  &-container {
   @include flex;

    svg {
      width: 1.5rem;
      height: 2rem;
    }
    p {
      margin-left: 2rem;
    }
    .place {
      font-weight: 500;
      padding: 1rem 0;
    }
  }
}