.restaurants {
  height: auto;
  padding: 2rem;
  animation: 2.5s forwards apparition-article;
  background-color: #f6f6f6;
  z-index: -1;

  @media (max-width: 24.34em) {
    padding: 1rem;
  }

  h2 {
    text-align: left;
    margin-top: 4rem;
    margin-left: 1.5rem;
    padding: 2rem;

    @media (max-width: 37.5em) {
      margin-left: 0;
    }

    @media (max-width: 24.34em) {
      padding: 1rem;
    }
  }

  &-container {
    padding: 3.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
    animation: 2.5s apparition-img;

    @media (max-width: 37.5rem) {
      padding: 1.3rem;
    }

    &-one {
      width: 24%;
      border-radius: 2rem;
      box-shadow: 1px 3px 15px -7px #000000;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      transition: all .3s;

      &:nth-child(1) &-img:before,&:nth-child(2) &-img:before {
        content: 'Nouveau';
        position: absolute;
        font-weight: 500;
        top: 5%;
        left: 75%;
        width: 8.3rem;
        height: 3.5rem;
        color: #13792c;
        background-color: $color-tertiary;
        font-size: 1.4rem;
        padding: 1rem;
        text-align: center;
        font-family: sans-serif;
        border-radius: .3rem;
      }

      @media  (max-width: 102rem) {
       width: 49%;
      }

      @media (max-width: 68.375rem) {
        width: 100%;
      }

      @media (max-width: 24.8rem) {
       height: 25rem;
      }

      &:hover {
        box-shadow:1px 3px 15px -3px #000000
      }

      &-link {
        text-decoration: none;
        color: #222;
      }

        &-img {
          min-width: 45rem;
          height: 25rem;
          background-size: cover;
          object-fit: cover;
          background-repeat: no-repeat;
          background-position: center;

          img {
            object-fit: cover;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          @media (max-width: 36rem) {
            min-width: auto;
            height: 18rem;
          }
        }

    &-text {
      position: relative;
      padding: 1.7rem 1.5rem;

      h3 {
        font-weight: $bold;
        font-size: 1.6rem;
      }

      p {
        font-size: 1.5rem !important;
      }


      .fa-solid{
        opacity: 0;


        &:hover, &:active {
          opacity: 1;
          color: $color-secondary;
        }
      }

           i {
             text-decoration: none;
             color: black;
             position: absolute;
             top: 50%;
             left: 90%;


             @media (max-width: 34.375rem) {
               top: 48%;
               left: 84%;
               transform: scale(1.3);
             }
           }
         }
      }
    }
  }
