.localisation {
  @include flex;
  margin: 0 auto;
  background-color: #eaeaea;
  max-height: 50px;

  &-container {
   @include flex;

    svg {
      width: 15px;
      height: 20px;
    }

    i {
      font-size: 23px;
    }

    h2 {
      font-size: 22px;
      margin-left: $margin-m;
    }
    .place {
      font-weight: $s-bold;
      padding: $padding-s 0;
    }
  }
}