.restaurants {
  height: auto;
  padding: 2rem;

  @media (max-width: 24.34em) {
    padding: 1rem;
  }

  h2 {
    text-align: left;
    margin-top: 4rem;
    margin-left: 4.5rem;
    padding: 2rem;

    @media (max-width: 37.5em) {
      margin-left: 0;
    }

    @media (max-width: 24.34em) {
      padding: 1rem;
    }
  }

  &-container {
    padding: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: 37.5rem) {
      padding: 1.3rem;
    }

    &-one:nth-child(1) &-one-img {
      background-image: url("../../../public/img/restaurants/la-palette-de-gout.jpg");

    }

    &-one:nth-child(2) &-one-img {
      background-image: url("../../../public/img/restaurants/la-note-enchante.jpg");
    }

    &-one:nth-child(3) &-one-img {
      background-image: url("../../../public/img/restaurants/la-francaise.jpg");
    }

    &-one:nth-child(4) &-one-img {
      background-image: url("../../../public/img/restaurants/les-delices-du-sens.jpg");

    }

    &-one {
      width: 24%;
      border-radius: 2rem;
      box-shadow: 5px 13px 32px -19px #000000;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:nth-child(1) &-img:before,&:nth-child(2) &-img:before {
        content: 'Nouveau';
        position: absolute;
        top: 10%;
        left: 73%;
        width: 8rem;
        height: 3.5rem;
        color: #171213;
        background-color: $color-tertiary;
        font-size: 1.4rem;
        padding: 1rem;
        text-align: center;
        font-family: sans-serif;
        border-radius: 1rem;
        font-weight: 400;
      }

      @media  (max-width: 102rem) {
       width: 49%;
      }

      @media (max-width: 68.375rem) {
        width: 100%;
      }

      @media (max-width: 24.8rem) {
       height: 32rem;
      }

      &:hover {
        box-shadow: 8px 5px 13px -5px #000000;
      }

        &-img {
          min-width: 45rem;
          height: 25rem;
          background-size: cover;
          object-fit: cover;
          background-repeat: no-repeat;
          background-position: center;

          @media (max-width: 36rem) {
            min-width: auto;
          }
        }

    &-text {
      position: relative;
      padding: 2rem 1.5rem;

         a {
           display: inline-block;

            .fa-solid{
            opacity: 0;


            &:hover {
              opacity: 1;
              color: $color-secondary;
            }

          }

           i {
             text-decoration: none;
             color: black;
             position: absolute;
             top: 50%;
             left: 90%;

             @media (max-width: 34.375rem) {
               top: 40%;
               left: 84%;
             }
           }
         }
      }
    }
  }
}