$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-card-formulaire: #ef5edff;



.title-big-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
}

.title-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
}


.title-big-white {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
}

.title-medium {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
}

.title-medium-less {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.title-medium-less-less {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.text-medium-more {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  letter-spacing: -.4px;
}

.text-medium-less {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.text-medium {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.xl-margin-bottom {
  margin-bottom: 9rem;
}

.u-margin-bottom {
  margin-bottom: 6rem;
}
.l-margin-bottom {
  margin-bottom: 4rem;
}
.s-margin-bottom {
  margin-bottom: 2rem;
}

.u-size {
  font-size: 2.4rem;
}
.l-size {
  font-size: 2rem;
}
.m-size {
  font-size: 1.6rem;
}
.s-size {
  font-size: 1.2rem;
}


