@keyframes s-fade {
  0% {
    opacity: 1;
  }

  100%{
    opacity: 0.5;
  }
}

@keyframes fade-loader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes check {
  from {
    transform: rotateZ(100deg);
  }

  50% {
    transform: rotateZ(-50deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes apparition-img {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes apparition-article {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  90% {
    background-color: $grey-background;
    box-shadow: none;
  }

  100% {
    transform: translateY(0);
    background: $white;
    opacity: 1;
    box-shadow: 0 2px 19px -17px #000000;
  }
}
