@keyframes fade {

  100%{
    opacity: 0.5;
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@keyframes hearth {
  100%{
    transform: scale(1);
  }
}

@keyframes check {
  from {
    transform: rotateZ(100deg);
  }

  50% {
    transform: rotateZ(-50deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes apparition-img {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes apparition-article {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  90% {
    background-color: #FdFdFd;
    box-shadow: none;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0 2px 19px -17px #000000;
  }
}
