@keyframes fade {
  from{
   opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes check {
  from {
    width: 0;
  }

  50% {
    width: 3rem;
  }

  100% {
    width: 6rem;
  }
}