.btn {
  @include flex;
  margin: 23px auto 43px;
  color: #ffffff;
  background: -webkit-gradient(linear, right bottom, left top, from($color-primary), to(#FF79DA));
  background: -o-linear-gradient(bottom right, $color-primary, #FF79DA);
  background: linear-gradient(to top left, $color-primary, #FF79DA);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: $padding-xs;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  &:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

.btn-hearth {
  background-color: $grey-background;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;


  svg {
    position: absolute;
    top: -7px;
    right: 0;
    fill: $color-secondary;
    transform: scale(0) translate(-50%,-50%) ;
    width: 30px;
    transition: all .7s;

  }

  &:hover svg,
  &:focus svg, {
    transform: scale(1);
  }

  &:hover i,
  &:focus i,
  &:active i, {
    opacity: .5;
  }
}



