.section-restaurants {

  height: 30rem;

  h2 {
    text-align: center;
    margin-top: 4rem;
  }

  &-container {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    &-one {
      width: 45rem;
      border-radius: 2rem;
      box-shadow: 5px 13px 32px -19px #000000;

      &-img {
        width: 45rem;
        height: 25rem;
        background-image: url("../../public/img/restaurants/la-palette-de-gout.jpg");
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

    &-text {
      position: relative;
      padding: 2rem 1.5rem;

      i  {
        position: absolute;
        top: 50%;
        left: 90%;

      }
    }
  }
  }
}