.section-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55rem;
  margin: 0 auto;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
    flex-wrap: wrap;
    padding: 2rem;

    @media (max-width: 774px) {
      gap: 3rem;
    }
  }
  &-menu {


    &-title {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 3rem;
    }

    &-btn {
      text-decoration: none;
      color: #FFF;
      background-color:#FF79DA;
      padding: 1.3rem;
      border-radius: 5rem 5rem ;
      font-weight: 600;
      margin-top: 3rem;
    }
  }


  &-fonc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-title {
      margin-bottom: 3rem;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      padding: .8rem;
      border-radius: 1rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &-num {
        margin-right: 1.5rem;

        &:nth-child(2) {
          padding-right: 1.6rem;
        }
      }

    }
  }
}