
.title-big-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.title-big {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.title-big-white {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.title-medium {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.title-medium-less {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.title-medium-less-less {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.text-medium-more {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  letter-spacing: -.4px;
}

.text-medium-less {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.text-medium {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.xl-margin-bottom {
  margin-bottom: 90px;
}

.u-margin-bottom {
  margin-bottom: 60px;
}
.l-margin-bottom {
  margin-bottom: 40px;
}
.s-margin-bottom {
  margin-bottom: 20px;
}

.u-size {
  font-size: 24px;
}
.l-size {
  font-size: 20px;
}
.m-size {
  font-size: 16px;
}
.s-size {
  font-size: 14px;
}
.xs-size {
  font-size: 12px;
}


